main{
    margin-top: 50px;
}

.layout-content{
    @include span(8);
}

.layout-sidebar-first{
    @include span(2);
}

.layout-sidebar-second{
    @include span(2 last);
}

.article-list {
    h3 {
        a {
            color: #464646!important;
            text-decoration: none!important;
        }
    }

    p {
        line-height: 1.5;
    }

    .views-row {
        margin: 40px 0;
    }

    .views-field-view-node a {
       color: red;
       text-decoration: none; 
    }
}