  <footer class="main-footer" role="contentinfo">
    <div class="container">
      {{ page.footer }}
      <div class="main-navigation">
      {{ page.main_navigation }}
    </div>
    </div>
  </footer>
